*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clock{
    position: absolute;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color:red;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.hand{
    position: absolute;
    left:calc(50% - 3px);
    width:6px;
    height: 50%;
    background-color:black;
    transform-origin: 50% 100%;
    transform: rotate(0deg);
    transition: 60s steps(60);
}
.clock:hover .hand{
    transform: rotate(360deg);
}